body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrap {
    width: 100vw;
}

header {
    background: #505050;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
}

.burger-wrap {
    margin-right: 30px;
    padding: 28.5px 30px;
    background: #202020;
    position: relative;
    text-align: center;
}

#burger {
    display: none;
}

.icon-arrow-back {
    display: none;
}

.burger-label {
    display: block;
    position: absolute;
    padding-top: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 72%;
    cursor: pointer;
    z-index: 2;
}

.burger-drop {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

.burger-links {
    height: 57px;
    display: block;
    color: #ccc;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-drop p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: none;
}

#burger:checked ~ .burger-drop {
    max-height: 500px;
    font-size: 24px;
    min-height: calc(100vh - 57px);
    background-color: #202020;
}

.burger-links:hover {
    background-color: #505050;
    color: #fff;
}

.burger-drop:hover p {
    position: absolute;
    left: 0;
    padding: 0 0 26px 60px;
    display: block;
    font-size: 13px;
}

.burger-drop:hover {
    width: 190px;
}

.burger-drop:hover span {
    position: absolute;
    left: 0;
    padding: 16.5px 18px;
}

.icon-menu11 {
    color: #ccc;
    font-size: 1.5rem;
}

.burger-drop span {}

.nav-link {
    font-size: 19px;
    color: #fff;
    text-decoration: none;
}


.icon-keyboard-arrow-right {
    padding: 0.25rem 1rem;
    font-size: 20px;
    color: #fff;
}

.icon-search8 {
    position: absolute;
    padding: 0.3125rem 0.5rem;
    color: #fff;
    font-size: 18px;
    z-index: 1;
}

.icon-arrow-drop-down {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    color: #fff;
}

.search {
    margin-right: 15px;
    position: relative;
}

.srch {
    position: relative;
    width: 490px;
    background: #707070;
    border: #fff;
    font-size: 16px;
    padding: 0.3125rem 3rem 0.3125rem 2rem;
    color: #fff;
    border-radius: 4px;
}

.srch::placeholder {
    color: #fff;
}

.srch:focus::placeholder {
    color: #707070;
}
